.ds-token-usage-display {
    .container {
        margin: 0 auto;
        padding: 0px 25px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 1.5rem;
        text-align: left;
    }

    th {
        text-align: center;
    }

    tbody td {
        font-family: monospace;
        text-align: center;
    }

    tbody td:first-child {
        font-family: unset;
        font-weight: bold;
    }

    tbody tr:last-child {
        border-bottom: 1px solid #e2e8f0;
    }
}
